body {
  font-family: 'Raleway', sans-serif;
  max-width: 2520px;
  margin: 0 auto; }

.main-m-w {
  max-width: 1320px;
  padding: 0 15px;
  margin: 0 auto; }

.flex-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  background: #fff; }
  @media (max-width: 767px) {
    .flex-menu {
      display: block; } }

.menu-wrapp {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(29, 1, 81, 0.1);
  -moz-box-shadow: 0px 0px 20px 0px rgba(29, 1, 81, 0.1);
  box-shadow: 0px 0px 20px 0px rgba(29, 1, 81, 0.1); }

.menu__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex; }
  @media (max-width: 767px) {
    .menu__list {
      display: block;
      padding-top: 10px; } }
  .menu__list__item {
    padding: 0 15px; }
    @media (max-width: 767px) {
      .menu__list__item {
        text-align: center; } }
    .menu__list__item__link {
      font-size: 14px;
      color: #000; }

.baner {
  height: 903px;
  margin-top: 50px;
  background-image: url(../img/baner4.png);
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden; }
  @media (max-width: 1440px) {
    .baner {
      height: 700px; } }
  @media (max-width: 1199px) {
    .baner {
      height: 600px; } }
  .baner__cont {
    position: absolute;
    top: calc(50% - 73px);
    left: 50%;
    transform: translate(-50%, -50%);
    width: 780px; }
    @media (max-width: 991px) {
      .baner__cont {
        top: calc(50% - 58px); } }
    @media (max-width: 767px) {
      .baner__cont {
        width: 100%;
        max-width: 320px;
        top: calc(50% - 94px); } }
    .baner__cont h1 {
      font-family: 'Amatic SC', cursive;
      font-weight: 400;
      text-transform: uppercase;
      text-align: center;
      color: #fff;
      font-size: 100px;
      letter-spacing: 4px;
      text-shadow: 0px 0px 20px rgba(29, 1, 81, 0.5); }
      @media (max-width: 991px) {
        .baner__cont h1 {
          font-size: 62px; } }
    .baner__cont img {
      position: relative;
      margin: -40px auto 0 auto;
      z-index: 2; }
      @media (max-width: 991px) {
        .baner__cont img {
          max-width: 140px;
          margin: -25px auto 0 auto; } }
  .baner__foot {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 55px;
    background-image: url(../img/baner-foot.svg);
    background-repeat: no-repeat;
    background-position: bottom -2px center; }
    .baner__foot__img {
      position: absolute;
      top: -9px;
      left: calc(50% + 2px);
      transform: translateX(-50%); }
    .baner__foot:before {
      content: "";
      display: block;
      position: absolute;
      top: 2px;
      right: calc(50% + 200px);
      height: 55px;
      width: 5000px;
      background: #fff; }
    .baner__foot:after {
      content: "";
      display: block;
      position: absolute;
      top: 2px;
      left: calc(50% + 200px);
      height: 55px;
      width: 5000px;
      background: #fff; }

.second-nav {
  padding: 104px 0 100px 0; }
  @media (max-width: 1199px) {
    .second-nav {
      padding: 50px 0; } }
  .second-nav__head {
    text-align: center;
    font-weight: 600;
    font-size: 35px;
    margin-bottom: 19px;
    opacity: 0;
    transform: scale(0.9);
    transition: transform 0.45s cubic-bezier(0.39, 0.575, 0.565, 1), opacity 0.2s linear, -webkit-transform 0.45s cubic-bezier(0.39, 0.575, 0.565, 1);
    transition-delay: .25s; }
  .second-nav__text {
    text-align: center;
    max-width: 630px;
    margin: 0 auto 35px auto;
    opacity: 0;
    transform: scale(0.9);
    transition: transform 0.45s cubic-bezier(0.39, 0.575, 0.565, 1), opacity 0.2s linear, -webkit-transform 0.45s cubic-bezier(0.39, 0.575, 0.565, 1);
    transition-delay: .35s; }
  .second-nav[data-anim=true] .second-nav__head {
    opacity: 1;
    transform: none; }
  .second-nav[data-anim=true] .second-nav__text {
    opacity: 1;
    transform: none; }

.sec-nav {
  display: flex;
  justify-content: space-between;
  max-width: 960px;
  margin: 0 auto; }
  @media (max-width: 767px) {
    .sec-nav {
      flex-wrap: wrap; } }
  .sec-nav__item {
    max-width: 189px;
    width: 100%;
    position: relative;
    cursor: pointer;
    border-radius: 10px;
    height: 215px;
    box-shadow: 0px 10px 20px 0px rgba(29, 1, 81, 0.1);
    opacity: 0;
    transform: scale(0.9);
    transition: transform 0.45s cubic-bezier(0.39, 0.575, 0.565, 1), opacity 0.2s linear, -webkit-transform 0.45s cubic-bezier(0.39, 0.575, 0.565, 1); }
    .sec-nav__item:nth-child(1) {
      transition-delay: .25s; }
    .sec-nav__item:nth-child(2) {
      transition-delay: .35s; }
    .sec-nav__item:nth-child(3) {
      transition-delay: .45s; }
    .sec-nav__item:nth-child(4) {
      transition-delay: .55s; }
    @media (max-width: 991px) {
      .sec-nav__item {
        max-width: 167px; } }
    @media (max-width: 767px) {
      .sec-nav__item {
        max-width: 48%;
        margin-bottom: 41px; } }
    .sec-nav__item__icon {
      padding-top: 28px; }
      @media (max-width: 767px) {
        .sec-nav__item__icon {
          padding: 15px 7px; } }
      .sec-nav__item__icon img {
        margin: 0 auto; }
    .sec-nav__item__text {
      position: absolute;
      top: 174px;
      width: 100%;
      text-align: center;
      text-transform: uppercase;
      font-size: 16px;
      z-index: 5;
      font-weight: 600; }
      @media (max-width: 767px) {
        .sec-nav__item__text {
          font-size: 14px;
          top: 164px; } }
    .sec-nav__item__arr {
      position: absolute;
      bottom: -22px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 5;
      width: 44px;
      height: 44px;
      border-radius: 50%;
      background: #fff;
      box-shadow: 0px 10px 10px 0px rgba(29, 1, 81, 0.1);
      padding-top: 20px; }
      .sec-nav__item__arr img {
        margin: 0 auto; }
  .sec-nav[data-anim=true] .sec-nav__item {
    opacity: 1;
    transform: none; }

.navigation-wr {
  padding-top: 50px;
  position: relative;
  overflow: hidden; }
  @media (max-width: 767px) {
    .navigation-wr {
      padding-top: 0; } }
  .navigation-wr__map {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%); }
    @media (max-width: 991px) {
      .navigation-wr__map {
        bottom: -46px;
        width: 100%; } }
    @media (max-width: 767px) {
      .navigation-wr__map {
        display: none; } }

.navigation {
  display: flex;
  position: relative;
  align-items: flex-start; }
  @media (max-width: 767px) {
    .navigation {
      display: block; } }
  .navigation .main-m-w {
    position: relative;
    z-index: 5; }
  .navigation__left {
    flex-shrink: 0;
    width: 502px; }
    @media (max-width: 991px) {
      .navigation__left {
        width: 300px;
        transform: none !important; } }
    @media (max-width: 767px) {
      .navigation__left {
        margin: 0 auto;
        width: 290px;
        position: relative;
        left: -10px; } }
  .navigation__right {
    padding-top: 36px; }
    @media (max-width: 767px) {
      .navigation__right {
        padding-top: 0; } }

.sec-text-style[data-anim=true] .sec-text-style__tab {
  opacity: 1;
  transform: none; }
.sec-text-style[data-anim=true] h4 {
  opacity: 1;
  transform: none; }
.sec-text-style[data-anim=true] .sec-text-style__tab__descr {
  opacity: 1;
  transform: none; }
.sec-text-style[data-anim=true] .flex-butt {
  opacity: 1;
  transform: none; }
.sec-text-style__tab {
  opacity: 0;
  transform: scale(0.9);
  transition: transform 0.45s cubic-bezier(0.39, 0.575, 0.565, 1), opacity 0.2s linear, -webkit-transform 0.45s cubic-bezier(0.39, 0.575, 0.565, 1);
  transition-delay: .25s;
  display: flex;
  margin-bottom: 21px; }
  .sec-text-style__tab span {
    display: block;
    border-radius: 100px;
    padding: 6px 16px 4px 16px;
    text-transform: uppercase; }
  .sec-text-style__tab--yellow span {
    border: 1px solid #FDC635;
    color: #FDC635; }
  .sec-text-style__tab--green span {
    border: 1px solid #7FD512;
    color: #7FD512; }
  .sec-text-style__tab--blue span {
    border: 1px solid #64B0D8;
    color: #64B0D8; }
  .sec-text-style__tab--purple span {
    border: 1px solid #61588D;
    color: #61588D; }
  .sec-text-style__tab__descr {
    max-width: 592px;
    margin-bottom: 20px;
    opacity: 0;
    transform: scale(0.9);
    transition: transform 0.45s cubic-bezier(0.39, 0.575, 0.565, 1), opacity 0.2s linear, -webkit-transform 0.45s cubic-bezier(0.39, 0.575, 0.565, 1);
    transition-delay: .45s; }
.sec-text-style h4 {
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 33px;
  opacity: 0;
  transform: scale(0.9);
  transition: transform 0.45s cubic-bezier(0.39, 0.575, 0.565, 1), opacity 0.2s linear, -webkit-transform 0.45s cubic-bezier(0.39, 0.575, 0.565, 1);
  transition-delay: .35s; }
.sec-text-style .flex-butt {
  opacity: 0;
  transform: scale(0.9);
  transition: transform 0.45s cubic-bezier(0.39, 0.575, 0.565, 1), opacity 0.2s linear, -webkit-transform 0.45s cubic-bezier(0.39, 0.575, 0.565, 1);
  transition-delay: .55s;
  display: flex;
  align-items: center; }
  .sec-text-style .flex-butt__soc {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center; }
    .sec-text-style .flex-butt__soc li {
      padding: 0 7px; }
      .sec-text-style .flex-butt__soc li:first-child {
        padding-left: 0; }
      .sec-text-style .flex-butt__soc li:last-child {
        padding-left: 17px; }

@keyframes jump {
  0% {
    transform: translateY(-100px);
    opacity: 0; }
  40% {
    transform: translateY(-30px); }
  100% {
    transform: translateY(0);
    opacity: 1; } }
@keyframes jump-2 {
  0% {
    transform: translateY(-50px);
    opacity: 0; }
  40% {
    transform: translateY(-30px); }
  100% {
    transform: translateY(0);
    opacity: 1; } }
.score {
  padding-top: 190px; }
  @media (max-width: 1199px) {
    .score {
      padding-top: 100px; } }
  @media (max-width: 767px) {
    .score {
      padding-top: 50px;
      margin-bottom: 50px; } }
  .score .main-m-w {
    min-height: 965px;
    position: relative; }
    @media (max-width: 1199px) {
      .score .main-m-w {
        min-height: 840px; } }
    @media (max-width: 991px) {
      .score .main-m-w {
        display: flex;
        flex-direction: column-reverse;
        min-height: auto; } }
    @media (max-width: 767px) {
      .score .main-m-w {
        display: block; } }
  .score__img {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%; }
    @media (max-width: 991px) {
      .score__img {
        position: relative; } }
  .score__flex__left {
    position: relative;
    z-index: 5; }
    @media (max-width: 991px) {
      .score__flex__left {
        margin-bottom: 20px; } }

.travel {
  padding-top: 110px; }
  @media (max-width: 1199px) {
    .travel {
      padding-top: 0; } }
  @media (max-width: 991px) {
    .travel {
      margin-bottom: 30px; } }
  .travel .main-m-w {
    position: relative; }
  .travel__abs-img {
    position: absolute;
    top: 430px;
    left: 0;
    width: 100%;
    padding-left: 150px; }
    @media (max-width: 1199px) {
      .travel__abs-img {
        bottom: 86px;
        top: auto; } }
    @media (max-width: 991px) {
      .travel__abs-img {
        display: none; } }
  .travel__flex {
    display: flex;
    position: relative;
    align-items: flex-start; }
    @media (max-width: 767px) {
      .travel__flex {
        display: block; } }
    .travel__flex .main-m-w {
      position: relative;
      z-index: 5; }
    .travel__flex__left {
      flex-shrink: 0;
      width: 502px; }
      @media (max-width: 1199px) {
        .travel__flex__left {
          width: 41%; } }
      @media (max-width: 991px) {
        .travel__flex__left {
          width: 300px;
          transform: none !important; } }
      @media (max-width: 767px) {
        .travel__flex__left {
          margin: 0 auto;
          width: 290px;
          position: relative;
          left: -10px; } }
    .travel__flex__right {
      padding-top: 36px;
      padding-left: 109px; }
      @media (max-width: 1199px) {
        .travel__flex__right {
          padding-left: 0; } }
      @media (max-width: 767px) {
        .travel__flex__right {
          padding-top: 0; } }

.personalization {
  padding-top: 146px; }
  @media (max-width: 1199px) {
    .personalization {
      padding-top: 0; } }
  @media (max-width: 767px) {
    .personalization {
      padding-top: 20px; } }
  .personalization .main-m-w {
    min-height: 833px;
    position: relative; }
    @media (max-width: 991px) {
      .personalization .main-m-w {
        min-height: auto;
        display: flex;
        flex-direction: column-reverse; } }
    @media (max-width: 767px) {
      .personalization .main-m-w {
        display: block; } }
  .personalization__img {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%; }
    .personalization__img img {
      margin-left: auto; }
      @media (max-width: 991px) {
        .personalization__img img {
          margin: 0 auto; } }
    @media (max-width: 991px) {
      .personalization__img {
        position: relative; } }
    @media (max-width: 767px) {
      .personalization__img {
        margin-bottom: 20px; } }
  .personalization__flex {
    display: flex;
    padding-left: 140px; }
    @media (max-width: 1199px) {
      .personalization__flex {
        padding-left: 0; } }
    .personalization__flex__left {
      width: 100%;
      max-width: 600px;
      position: relative;
      z-index: 5; }
      @media (max-width: 991px) {
        .personalization__flex__left {
          margin-bottom: 20px; } }

.flex-companies {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 35px; }
  @media (max-width: 767px) {
    .flex-companies {
      flex-direction: column; } }
  .flex-companies__item {
    padding: 0 61px; }
    @media (max-width: 991px) {
      .flex-companies__item {
        padding: 0 31px; } }
    @media (max-width: 767px) {
      .flex-companies__item {
        margin-bottom: 10px; } }

.form-follow-wr {
  background-image: url(../img/contact-bg.svg);
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden;
  padding: 30px 0 35px 0; }
  .form-follow-wr:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: url(../img/contact-left.svg);
    background-position: left bottom;
    background-size: contain;
    background-repeat: no-repeat;
    width: 380px;
    height: 392px; }
    @media (max-width: 991px) {
      .form-follow-wr:before {
        width: 200px; } }
  .form-follow-wr:after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    background-image: url(../img/contact-right.svg);
    background-position: right bottom;
    background-size: contain;
    background-repeat: no-repeat;
    width: 155px;
    height: 470px; }
    @media (max-width: 1199px) {
      .form-follow-wr:after {
        display: none; } }
    @media (max-width: 991px) {
      .form-follow-wr:after {
        display: block; } }

.form-follow {
  position: relative;
  max-width: 475px;
  margin: 0 auto;
  z-index: 5; }
  .form-follow__circles {
    position: absolute;
    right: -145px;
    top: 16px; }
    @media (max-width: 991px) {
      .form-follow__circles {
        display: none; } }
    .form-follow__circles .circ {
      opacity: 0;
      transform: scale(0.9);
      transition: transform 0.45s cubic-bezier(0.39, 0.575, 0.565, 1), opacity 0.2s linear, -webkit-transform 0.45s cubic-bezier(0.39, 0.575, 0.565, 1); }
      .form-follow__circles .circ.circ-1 {
        transition-delay: .55s; }
      .form-follow__circles .circ.circ-2 {
        transition-delay: .65s; }
      .form-follow__circles .circ.circ-3 {
        transition-delay: .75s; }
      .form-follow__circles .circ.circ-4 {
        transition-delay: .85s; }
  .form-follow__human {
    position: absolute;
    left: calc(100% + 77px);
    top: 0;
    width: 226px;
    opacity: 0;
    transform: scale(0.9);
    transition: transform 0.45s cubic-bezier(0.39, 0.575, 0.565, 1), opacity 0.2s linear, -webkit-transform 0.45s cubic-bezier(0.39, 0.575, 0.565, 1);
    transition-delay: .25s; }
    @media (max-width: 991px) {
      .form-follow__human {
        display: none; } }
  .form-follow[data-anim=true] .form-follow__human {
    opacity: 1;
    transform: none; }
  .form-follow[data-anim=true] .form-follow__circles .circ {
    opacity: 1;
    transform: none; }
  .form-follow[data-anim=true] .form-follow__title {
    opacity: 1;
    transform: none; }
  .form-follow__title {
    margin: 0 auto 30px auto;
    opacity: 0;
    transform: scale(0.9);
    transition: transform 0.45s cubic-bezier(0.39, 0.575, 0.565, 1), opacity 0.2s linear, -webkit-transform 0.45s cubic-bezier(0.39, 0.575, 0.565, 1);
    transition-delay: .95s; }
    @media (max-width: 991px) {
      .form-follow__title {
        transition-delay: .3s; } }
  .form-follow .sent {
    margin-bottom: 5px;
    color: #fff;
    text-align: center;
    opacity: 0;
    transition: 0.3s; }
    .form-follow .sent.done {
      opacity: 1; }
  .form-follow input, .form-follow textarea {
    border: 1px solid rgba(29, 1, 81, 0.1);
    border-radius: 100px;
    display: block;
    width: 100%;
    margin-bottom: 15px;
    background: #fff;
    outline: none;
    padding: 14px 25px;
    font-size: 18px;
    box-shadow: 0px 4px 10px 0px rgba(29, 1, 81, 0.09);
    color: #000; }
    .form-follow input::-webkit-input-placeholder, .form-follow textarea::-webkit-input-placeholder {
      color: rgba(0, 0, 0, 0.5); }
    .form-follow input::-moz-placeholder, .form-follow textarea::-moz-placeholder {
      color: rgba(0, 0, 0, 0.5); }
    .form-follow input:-moz-placeholder, .form-follow textarea:-moz-placeholder {
      color: rgba(0, 0, 0, 0.5); }
    .form-follow input:-ms-input-placeholder, .form-follow textarea:-ms-input-placeholder {
      color: rgba(0, 0, 0, 0.5); }
  .form-follow textarea {
    border-radius: 31px;
    height: 152px;
    resize: none;
    padding-top: 23px;
    margin-bottom: 5px; }
  .form-follow button {
    display: block;
    max-width: 167px;
    width: 100%;
    margin-left: auto;
    border-radius: 100px;
    font-weight: 600;
    color: #fff;
    padding: 16px 0;
    box-shadow: 0px 4px 15px 0px rgba(29, 1, 81, 0.25);
    background: linear-gradient(45deg, #FFA901, #FDC635);
    border: none; }

.footer {
  background: #200F32;
  margin: 0;
  padding-bottom: 0; }
  .footer__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 17px 0; }
    @media (max-width: 1199px) {
      .footer__top {
        flex-wrap: wrap; } }
    @media (max-width: 767px) {
      .footer__top {
        display: block; } }
    @media (max-width: 1199px) {
      .footer__top__side {
        justify-content: space-between; } }
    @media (max-width: 767px) {
      .footer__top__side {
        display: block !important;
        width: 100% !important; } }
    .footer__top__side:first-child {
      display: flex;
      align-items: center; }
      @media (max-width: 1199px) {
        .footer__top__side:first-child {
          width: 59.66%; } }
    @media (max-width: 1199px) {
      .footer__top__side:last-child {
        width: 100%; } }
    .footer__top__side__menu {
      list-style: none;
      display: flex;
      margin: 0;
      padding: 0; }
      @media (max-width: 1199px) {
        .footer__top__side__menu {
          justify-content: center;
          padding-top: 15px; } }
      @media (max-width: 767px) {
        .footer__top__side__menu {
          display: block; } }
      .footer__top__side__menu li {
        padding: 0 10px; }
        @media (max-width: 767px) {
          .footer__top__side__menu li {
            padding: 0; } }
        .footer__top__side__menu li:first-child {
          padding-left: 0; }
        .footer__top__side__menu li:last-child {
          padding-right: 0; }
        .footer__top__side__menu li a {
          font-size: 18px;
          color: #fff; }
  .footer__bott {
    padding: 15px 0 29px 0; }
    .footer__bott__copyright {
      font-size: 14px;
      color: #fff;
      text-align: center; }

@media (max-width: 767px) {
  .some-footer-links {
    margin-bottom: 20px; } }
.some-footer-links__title {
  color: #fff;
  font-size: 18px;
  margin-bottom: 16px; }
.some-footer-links__list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0; }
  .some-footer-links__list li {
    padding: 0 10px; }
    .some-footer-links__list li:first-child {
      padding-left: 0; }
    .some-footer-links__list li:last-child {
      padding-right: 0; }
  .some-footer-links__list--apps li {
    padding: 0 6px; }

.logo-big {
  margin-right: 100px; }
  @media (max-width: 1199px) {
    .logo-big {
      margin-right: 50px; } }
  @media (max-width: 767px) {
    .logo-big {
      margin: 0;
      margin-bottom: 20px; } }

.navbar-toggle {
  margin-top: 0;
  border: none; }

@media (min-width: 2000px) {
    .baner__cont img {
        display: none;
    }
}

/*# sourceMappingURL=style.css.map */
